{% load static %}
<html>
<head>
<title>Plant Disease Identification</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t1"].value;
	
	if(x == null || x==""){
		window.alert("plant image must be upload");
		document.f1.t1.focus();
		return false;
	}
	
	
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">An Artificial Intelligence and Cloud Based Collaborative Platform for Plant Disease Identification, Tracking and Forecasting for Farmers</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'Upload' %}">Upload Plant Image</a></li>
      <li><a href="{% url 'index' %}">Logout</a></li>
			
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'UploadImage' %}  enctype="multipart/form-data" OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Upload Image Screen</b></h3>
   
							
						<table align="center" width="80" >
			 

		<tr><td><b>Upload&nbsp;Image</b></td><td><input type="file" name="t1" style="font-family: Comic Sans MS" size="60"/></td></tr>
		
		
         
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
				</div>	
					
				</div>
				<br/><br/><br/><br/><br/>
	</body>
</html>